* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: repeating-linear-gradient(
    to right,
    white 0rem,
    white 1.25rem,
    rgba(224, 224, 224, 0.15) 1.25rem,
    rgba(224, 224, 224, 0.15) 3.75rem
  );
}

.nav {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
  max-height: 90rem;
  margin-bottom: 5rem;
}

.tablet-hero-img {
  display: none;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  max-width: 26rem;
}

.hero__content h1 {
  font-size: 4rem;
  line-height: 110%;
  letter-spacing: 0;
  font-weight: 700;
  color: #28283d;
  text-align: center;
}

.hero__content p {
  font-size: 1.125rem;
  line-height: 110%;
  letter-spacing: 0;
  font-weight: 400;
  color: #87879d;
  text-align: center;
}

.hero__buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 1.5rem 3rem;
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: 0;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.hero__buttons .btn--primary {
  background-color: #4d96a9;
}

.btn:hover {
  opacity: 0.8;
}

.hero__buttons .btn--secondary {
  background-color: #855fb1;
}

.btn--primary span {
  color: #8fe3f9;
}

.line-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.line {
  width: 1px;
  height: 5rem;
  background-color: rgba(51, 51, 51, 0.3);
  position: relative;
  z-index: 1;
}

.circle {
  width: 3.125rem;
  height: 3.125rem;
  background-color: white;
  color: rgba(51, 51, 51, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
  border: 1px solid rgba(51, 51, 51, 0.3);
  position: absolute;
  bottom: -25px;
  z-index: 10;
}

.info {
  margin: 4rem 0;
}

.info__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 2.5rem;
}

.info-img {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.info__content img {
  width: 20%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}

.info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 35%;
}

.info-text .inf-headings {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-text h4 {
  padding-top: 2.5rem;
  color: #4d96a9;
  text-align: center;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.info-text h3 {
  font-size: 2.5rem;
  line-height: 110%;
  letter-spacing: 0;
  font-weight: 700;
  color: #28283d;
  text-align: center;
}

.info-text p {
  width: 90%;
  font-size: 1.125rem;
  line-height: 110%;
  letter-spacing: 0;
  font-weight: 400;
  color: #87879d;
  text-align: center;
}

.footer {
  width: 100vw;
  height: 18.75rem;
  background-image: url(./assets/desktop/image-footer.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  z-index: 1;
}

/* Overlay */
.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 150, 169, 0.9);
  z-index: 1;
}

/* Ensure content appears above the overlay */
.footer * {
  position: relative;
  z-index: 2;
}

.footer .btn--footer {
  background-color: #855fb1;
}

.footer .btn--footer span {
  color: #d9b8ff;
}

.footer h5 {
  font-size: 2.5rem;
  line-height: 110%;
  letter-spacing: 0;
  font-weight: 700;
  max-width: 20%;
}

.footer p {
  font-size: 1.125rem;
  line-height: 110%;
  letter-spacing: 0;
  font-weight: 400;
  max-width: 20%;
}

/* For tablets (768px and below) */
@media (max-width: 768px) {
  .desktop-hero-img {
    display: none;
  }
  .tablet-hero-img {
    display: block;
    width: 100%;
  }
  .hero {
    flex-direction: column;
    gap: 4rem;
  }

  .info-text {
    max-width: 80%;
  }

  .info-text .inf-headings {
    width: 80%;
  }
  .footer {
    flex-direction: column;
    padding-top: 1.875rem;
    width: 100vw;
  }
  .footer h5 {
    max-width: 70%;
  }

  .footer p {
    max-width: 70%;
    text-align: center;
  }
}

/* For phones (480px and below) */
@media (max-width: 480px) {
  .hero__content h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .hero__content p {
    font-size: 1rem;
    max-width: 80%;
    text-align: center;
  }

  .hero__buttons {
    flex-direction: column;
  }
  .hero {
    margin-bottom: 2rem;
  }

  .info {
    margin: 2rem 0;
  }

  .info-text h3 {
    font-size: 1.875rem;
    text-align: center;
  }

  .info-text p {
    width: 85%;
    font-size: 0.875rem;
    text-align: center;
  }

  .info-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 75%;
  }

  .info__content img {
    width: 100%;
    height: 100%;
  }
  .footer {
    padding-bottom: 2rem;
    gap: 1rem;
  }
  .footer h5 {
    font-size: 2rem;
    text-align: center;
    max-width: 80%;
  }

  .footer p {
    text-align: center;
    font-size: 0.875rem;
    max-width: 60%;
  }
}
